
.pre > div{
    background-color: rgba(0, 0, 0, 0.747);
    padding: 5rem 2rem 5rem 2rem;
    margin: 10%;
    text-align: center;
}

.haut_de_page{
    background-image: url(../IMAGES/banniere.png);
    background-size: cover;
    background-position: center;
    padding: 15% 15rem 15% 15rem;
}

.attrape{
    color: white;
    animation: animate 2s ease infinite;
}

@keyframes animate {
    0%{
        transform: scale(1)
    }
    30%{
        transform: scale(1.005)
    }
    45%{
        transform: scale(1.01)   
    }
    50%{
        transform: scale(1.005)
    }
    60%{
        transform: scale(1)
    }
}

.invit{
    background-color: white;
    border: thin black solid;
    border-radius: 2rem;
    padding: 1rem;
    color: black;
}

.invit:hover{
    background-color: black;
    color: white;
    transition: 0.2s;
}

div > a {
    margin-top: 2rem;
}

.image_informatique{
    width: 50%;
    height: 100%;
    margin: 0;
}
.image_informatique > img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.phrase-accroche{
    flex-grow: 1;
    height: 100%;
}
.phrase-accroche > p{
    font-size: 1rem;

}

.pre{
    display: flex;   
    color: white;
    font-size: 125%;
    font-family: century_normal;
    padding-right: 2rem;
    padding-left: 2rem;
}
.pre > div{
    margin: auto;
    flex-grow: 1;
}
.pre > img{
    width: 15%;
}

.img > img{
    height: 35rem;
    width: 100%;
    max-width: 50rem;
    min-width: 100%;
    max-height: 40rem;
}

.img{
    margin: 2rem;
    flex-basis: 15%;
    flex-grow: 1;
}

.intro{
    margin: 10vw;
    display: flex;
    flex-wrap: wrap;
}


.contenu > h2{
    text-align:start;
    margin-top: 15%;
}



.intro:nth-child(even){
    flex-direction: row-reverse;
}


.contenu_pair{
    flex-basis: 40%;
    width: 45rem;
    margin-right: 3rem;
    font-size: 120%;
}

.contenu_impair{
    flex-basis: 40%;        
    width: 45rem;
    margin-left: 3rem;
    font-size: 120%;
}

.contenu > p{
    margin-bottom: 5rem;
}

@media screen and (max-width : 1500px) {
    body{
        font-size: 2rem; 
    }
    header{
        font-size: 1.5rem;
    }
    .img{
        flex-basis: 60%;
        flex-grow: 1;
    }
    .contenu{
        min-width: 60%;
        text-align: center;
        margin: auto;
        display: block;
    }
    .contenu > h2{
        text-align: center;
    }
    .intro{
        margin: 5rem 0 0 0;
    }
    .haut_de_page{
        padding: 2rem 0 2rem 0;
    }
}

table, caption, th, td {

    border: 2px solid black;
      border-collapse: collapse;
    
}
caption, th, td {
    
    padding: 8px;
    
}