body{
    margin: 0;
    font-family: century_normal;
}
@font-face {
    font-family: century_normal;
    src: url(../POLICES/century/CenturyGothic.ttf);
}

@font-face {
    font-family: century-bold;
    src: url(../POLICES/century/CenturyGothic-BoldItalic.ttf);
}
