body{
    margin: 0;
    font-family: century_normal;
}
@font-face {
    font-family: century_normal;
    src: url(../POLICES/century/CenturyGothic.ttf);
}

@font-face {
    font-family: century-bold;
    src: url(../POLICES/century/CenturyGothic-BoldItalic.ttf);
}

header{
    background-color: rgb(243, 243, 243);
    color: black;
    position: sticky;
    top: 0;
    box-shadow: 0 1rem 2rem #666
}

a{
    text-decoration: none;
    color: black;
}

nav > ul{
    display: flex;
    list-style: none;
    margin: 0;
    position: sticky;
    top: 0;
}

nav > ul > li{
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
}


.haut_de_page{
    background-image: url(../IMAGES/Wave.svg);
    background-size: cover;
    background-position: center;
    padding-top: 8%;
    padding-bottom: 8%;

}

.image_informatique{
    width: 50%;
    height: 100%;
    margin: 0;
}
.image_informatique > img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.phrase-accroche{
    flex-grow: 1;
    height: 100%;
}
.phrase-accroche > p{
    font-size: 1rem;

}

.pre{
    display: flex;   
    color: white;
    font-size: 300%;
    font-family: century-bold;
}

main .paragraphes {
    text-align: justify;
    margin-right: 5em;
    margin-left: 5em;

    margin-top: 5em;
    margin-bottom: 5em;
}

main .paragraphes {
    font-size: 120%;
}

main .paragraphes h2{
    font-size: 180%;
}

main .paragraphes p {
    padding: 2em;
}

ul li:nth-child(odd) {
    flex-direction: row-reverse;
}
